<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4"> 
      <br>
      <img width="100%" height="auto" alt="Responsive image" src="/images/quote.jpg" > 
    </div>
    <div class="col-sm-6">
      <p><h4><b>Cum am creat acest site?</b></h4><br>
      <p>Salut,<br>
      Numele meu este Andra si sunt studenta la Facultatea de Automatica si Calculatoare din Cluj-Napoca.Cu ajutorul cunostintelor dobandite in facultate, am considerat ca acestea ar putea fi puse in practica ansambland un proiect cu un scop ce ar putea contribui la imbunatatirea conditiilor de viata ale oamenilor din medii afectate, dar si sustinerea diferitelor ONG-uri care se ocupa de studierea si protejarea mediului inconjurator ori a celor infiintate pentru persoanele cu nevoi speciale.Desi exista site-uri de donatii, acestea acopera o parte infima din totalul de cazuri ce ar trebui facute cunoscute la un nivel cat mai mare.Site-ul nostru ofera posibilitatea de a dona prin intermediul unei plati online, banii fiind mai apoi distribuiti catre ONG-urile partenere, sau prin intermediul accesarii paginii de donatii, unde poti dona de la haine pana la alimente.Orice gest este considerat valoros si asa cum se spune despre "butterfly effect", un act neinsemnat poate avea o consecinta importanta.</p>
    </p>
    </div>
    
    <div class="col-sm-4"> 
      <table style="margin-left: auto; margin-right: auto;">
        <tr><td style="text-align: center;"><h4>ONG-uri partenere</h4></td>
        </tr>
        <tr><td><a href="https://www.greenpeace.org/romania/contact/"><img src="/images/ong3.png"  style="width:80%; height:auto;"></a></td>
        </tr>
        <tr><td><a href="https://www.daruiesteviata.ro/"><img src="/images/ong1.jpg"  style="width:80%; height:auto;"></a></td>
        </tr>
        <tr><td><a href="https://wellromania.org/"><img src="/images/ong2.jpg"  style="width:80%; height:auto;"></a></td>
        </tr>
        <tr><td><a href="https://www.younginitiative.org/"><img src="/images/ong4.jpg"  style="width:80%; height:auto;"></a></td>
        </tr>
      </table>
    </div>
  </div>
</div>

</body>
<% include partials/script %>
</html>