<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./stylesheets/cardstyle.css">
    <title>Donation Completed</title>
    <link rel="icon" href="/images/favicon.ico" />
</head>

<body>
    <div class="payment">
        <p class="p" style="text-align: center;">Plata a fost realizata cu succes.</p>
        <p  class="p" style="text-align: center;">Va multumim pentru donatie!</p>
        <br>
        <form action="/">
            <input class="btn" type="submit" value="Return" />
        </form>
    </div>
</body>

</html>